body {
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-image: url("http://freedomreply.com/wp-content/uploads/2014/07/Large-Background-Images-Web-Design-1.jpg");
    background-size: 100%;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	color: #FFD700;
    text-align: center;
    font-family: Haettenschweiler;
    font-size: 200%;
}

h2 {
    color: #FFD700;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 120%;
}

h3 {
    color: #FFD700;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 120%;
}

footer {
	font-style: italic;
	font-size: 90%;
}